{:routes [{:servepath "/multiple"
           :savepath "resources/static/multipleFiles"
           :fullpath "//localhost:9090/multiple"
           :fileserve "static/multipleFiles"
           :multiple true
           :rename true}
          {:servepath "/notmultiple"
           :savepath "resources/static/files"
           :fullpath "//localhost:9090/notmultiple"
           :fileserve "static/files"
           :multiple false
           :rename true}]}
